In [2]:
import numpy as np
import pandas as pd

C:\Users\FWX PC\AppData\Roaming\Python\Python311\site-packages\pandas\core\arrays\masked.py:60: UserWarning: Pandas requires version '1.3.6' or newer of 'bottleneck' (version '1.3.5' currently installed).
  from pandas.core import (

In [12]:
df = pd.read_csv('https://raw.githubusercontent.com/siwatis/Credit-Analysis-Prediction/main/loan_approval_dataset.csv')

In [13]:
# Columns name: replace widespaces
df.columns = [col.replace(' ','') for col in df.columns]

# Drop loan_id column
df.set_index('loan_id', inplace=True)

# Set data type to each variables and clean space for categorical variable
target_col = ['loan_status']
categorical_col = ['no_of_dependents','education','self_employed','loan_term']
measure_col = ['income_annum','loan_amount','cibil_score','residential_assets_value','commercial_assets_value','luxury_assets_value','bank_asset_value']
for col in categorical_col:
    df[col] = df[col].astype(str).str.strip()
    df[col] = df[col].astype('category')
for col in measure_col:
    df[col] = df[col].astype(float)

In [5]:
pd.get_dummies(df['loan_term']).map(lambda x: 1 if x == True else 0)

         10  12  14  16  18  2  20  4  6  8
loan_id
1         0   1   0   0   0  0   0  0  0  0
2         0   0   0   0   0  0   0  0  0  1
3         0   0   0   0   0  0   1  0  0  0
4         0   0   0   0   0  0   0  0  0  1
5         0   0   0   0   0  0   1  0  0  0
...      ..  ..  ..  ..  .. ..  .. .. .. ..
4265      0   1   0   0   0  0   0  0  0  0
4266      0   0   0   0   0  0   1  0  0  0
4267      0   0   0   0   1  0   0  0  0  0
4268      0   0   0   0   0  0   0  0  0  1
4269      1   0   0   0   0  0   0  0  0  0

[4269 rows x 10 columns]

In [25]:
target = df['loan_status'].str.replace(' ','').apply(lambda x: 1 if x=='Approved' else 0)

In [27]:
pd.DataFrame(target)

         loan_status
loan_id
1                  1
2                  0
3                  0
4                  0
5                  0
...              ...
4265               0
4266               1
4267               0
4268               1
4269               1

[4269 rows x 1 columns]

In [30]:
dummy_list = []
for col in df[categorical_col].columns:
    cat_name = col
    dummies = pd.get_dummies(df[col]).map(lambda x: 1 if x == True else 0)
    dummies.columns = cat_name + '_' + np.array(dummies.columns)
    dummy_list.append(dummies)
dummies = pd.concat(dummy_list, axis=1)
dummies.columns = [name.lower().replace(' ','_') for name in dummies.columns]

In [31]:
pd.concat([df[measure_col],dummies], axis=1).corr()

,income_annum,loan_amount,cibil_score,residential_assets_value,commercial_assets_value,luxury_assets_value,bank_asset_value,no_of_dependents_0,no_of_dependents_1,no_of_dependents_2,...,loan_term_10,loan_term_12,loan_term_14,loan_term_16,loan_term_18,loan_term_2,loan_term_20,loan_term_4,loan_term_6,loan_term_8
income_annum,1.000000,0.927470,-0.023034,0.636841,0.640328,0.929145,0.851093,-0.009179,-0.002938,-0.002729,...,0.026852,0.018602,0.022403,-0.006292,-0.009354,0.000631,0.001330,-0.015792,-0.010649,-0.028383
loan_amount,0.927470,1.000000,-0.017035,0.594596,0.603188,0.860914,0.788122,-0.007638,0.003847,0.003379,...,0.035238,0.018212,0.009393,-0.001797,-0.006702,-0.010276,-0.005897,-0.007044,-0.009809,-0.022620
cibil_score,-0.023034,-0.017035,1.000000,-0.019947,-0.003769,-0.028618,-0.015478,0.004244,0.006909,0.001966,...,-0.032421,0.021523,0.009592,-0.007126,0.017594,-0.003510,-0.004849,0.001591,0.003092,-0.006288
residential_assets_value,0.636841,0.594596,-0.019947,1.000000,0.414786,0.590932,0.527418,-0.017133,0.000155,0.002730,...,0.038653,0.018413,0.011874,-0.003625,-0.023238,-0.010822,0.006149,-0.006301,-0.012790,-0.019197
commercial_assets_value,0.640328,0.603188,-0.003769,0.414786,1.000000,0.591128,0.548576,-0.006599,0.008898,-0.011279,...,0.018139,0.010791,0.022600,-0.008377,-0.043364,-0.005007,0.014682,0.003556,0.003944,-0.018285
luxury_assets_value,0.929145,0.860914,-0.028618,0.590932,0.591128,1.000000,0.788517,-0.002232,0.001202,-0.011860,...,0.032983,0.021345,0.017497,-0.008021,-0.012028,-0.012434,0.004475,-0.001972,-0.014030,-0.029132
bank_asset_value,0.851093,0.788122,-0.015478,0.527418,0.548576,0.788517,1.000000,-0.008528,-0.013447,-0.004108,...,0.019414,0.017555,0.026010,-0.017819,-0.002382,-0.006571,0.007864,-0.018594,-0.009312,-0.016338
no_of_dependents_0,-0.009179,-0.007638,0.004244,-0.017133,-0.006599,-0.002232,-0.008528,1.000000,-0.197633,-0.199493,...,0.000586,-0.016384,0.013837,0.015503,0.011826,0.016357,0.000963,-0.023709,-0.021141,0.005744
no_of_dependents_1,-0.002938,0.003847,0.006909,0.000155,0.008898,0.001202,-0.013447,-0.197633,1.000000,-0.196966,...,-0.002482,0.019592,-0.011083,0.003719,-0.029516,-0.008576,0.021262,0.004178,0.009937,-0.008889
no_of_dependents_2,-0.002729,0.003379,0.001966,0.002730,-0.011279,-0.011860,-0.004108,-0.199493,-0.196966,1.000000,...,-0.004803,-0.005355,0.006087,0.012095,-0.010524,-0.012914,0.001787,-0.004389,0.007380,0.010943
no_of_dependents_3,0.022186,0.022914,-0.005958,0.018333,0.028857,0.018640,0.028120,-0.202694,-0.200126,-0.202010,...,0.015949,0.024905,-0.016950,-0.006674,-0.001807,-0.001704,-0.010547,-0.016533,-0.006737,0.020133
no_of_dependents_4,-0.011823,-0.017691,0.002925,0.006221,-0.019338,-0.008328,0.000762,-0.206881,-0.204260,-0.206183,...,-0.001631,-0.024538,0.022364,-0.026186,0.015788,0.003853,0.005422,-0.003496,0.014824,-0.006422
no_of_dependents_5,0.004629,-0.004679,-0.010268,-0.010831,-0.000313,0.002648,-0.003247,-0.193551,-0.191099,-0.192898,...,-0.007928,0.002315,-0.015021,0.002283,0.013940,0.002877,-0.019163,0.045204,-0.004533,-0.022083
education_graduate,0.011625,0.010631,-0.004649,0.010930,-0.006763,0.012471,0.009424,0.003036,-0.000065,-0.009542,...,-0.010784,-0.024291,0.004155,0.000132,-0.003044,-0.003040,0.005695,0.029846,-0.001603,0.003498
education_not_graduate,-0.011625,-0.010631,0.004649,-0.010930,0.006763,-0.012471,-0.009424,-0.003036,0.000065,0.009542,...,0.010784,0.024291,-0.004155,-0.000132,0.003044,0.003040,-0.005695,-0.029846,0.001603,-0.003498
self_employed_no,-0.002368,-0.001450,0.004866,-0.006144,0.017998,-0.004413,0.000215,0.004506,-0.017707,0.025911,...,-0.031588,0.004028,-0.025628,-0.002386,0.030660,-0.004054,-0.003189,0.027731,0.018783,-0.017314
self_employed_yes,0.002368,0.001450,-0.004866,0.006144,-0.017998,0.004413,-0.000215,-0.004506,0.017707,-0.025911,...,0.031588,-0.004028,0.025628,0.002386,-0.030660,0.004054,0.003189,-0.027731,-0.018783,0.017314
loan_term_10,0.026852,0.035238,-0.032421,0.038653,0.018139,0.032983,0.019414,0.000586,-0.002482,-0.004803,...,1.000000,-0.116633,-0.109190,-0.110229,-0.111704,-0.109041,-0.110081,-0.115341,-0.121446,-0.106337
loan_term_12,0.018602,0.018212,0.021523,0.018413,0.010791,0.021345,0.017555,-0.016384,0.019592,-0.005355,...,-0.116633,1.000000,-0.111959,-0.113025,-0.114537,-0.111806,-0.112873,-0.118265,-0.124526,-0.109033
loan_term_14,0.022403,0.009393,0.009592,0.011874,0.022600,0.017497,0.026010,0.013837,-0.011083,0.006087,...,-0.109190,-0.111959,1.000000,-0.105811,-0.107227,-0.104671,-0.105669,-0.110718,-0.116579,-0.102075
loan_term_16,-0.006292,-0.001797,-0.007126,-0.003625,-0.008377,-0.008021,-0.017819,0.015503,0.003719,0.012095,...,-0.110229,-0.113025,-0.105811,1.000000,-0.108248,-0.105667,-0.106675,-0.111772,-0.117688,-0.103047
loan_term_18,-0.009354,-0.006702,0.017594,-0.023238,-0.043364,-0.012028,-0.002382,0.011826,-0.029516,-0.010524,...,-0.111704,-0.114537,-0.107227,-0.108248,1.000000,-0.107081,-0.108102,-0.113267,-0.119263,-0.104425
loan_term_2,0.000631,-0.010276,-0.003510,-0.010822,-0.005007,-0.012434,-0.006571,0.016357,-0.008576,-0.012914,...,-0.109041,-0.111806,-0.104671,-0.105667,-0.107081,1.000000,-0.105525,-0.110567,-0.116419,-0.101936
loan_term_20,0.001330,-0.005897,-0.004849,0.006149,0.014682,0.004475,0.007864,0.000963,0.021262,0.001787,...,-0.110081,-0.112873,-0.105669,-0.106675,-0.108102,-0.105525,1.000000,-0.111622,-0.117530,-0.102908
loan_term_4,-0.015792,-0.007044,0.001591,-0.006301,0.003556,-0.001972,-0.018594,-0.023709,0.004178,-0.004389,...,-0.115341,-0.118265,-0.110718,-0.111772,-0.113267,-0.110567,-0.111622,1.000000,-0.123145,-0.107825
loan_term_6,-0.010649,-0.009809,0.003092,-0.012790,0.003944,-0.014030,-0.009312,-0.021141,0.009937,0.007380,...,-0.121446,-0.124526,-0.116579,-0.117688,-0.119263,-0.116419,-0.117530,-0.123145,1.000000,-0.113532
loan_term_8,-0.028383,-0.022620,-0.006288,-0.019197,-0.018285,-0.029132,-0.016338,0.005744,-0.008889,0.010943,...,-0.106337,-0.109033,-0.102075,-0.103047,-0.104425,-0.101936,-0.102908,-0.107825,-0.113532,1.000000